* {
  box-sizing: border-box;
}

.showWarning {
  display: block;
}

.hideWarning {
  display: none;
}

.collection .collection-item.avatar .title {
  font-size: 14px;
}

.flightNumber {
  font-size: 15px;
  font-weight: bold;
}

@media(min-width: 760px) {
  .m4{
    text-align: center;
    padding-top: 10px !important;
  }
 
}