

/*--------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
 background-color: #F9F9F9;
}

.container {
 min-height: 100vh;
}

/* @media (max-width:640px) {
  .container {
    height: 150vh;
  }
} */

.showWarning {
  display: block;
}

.hideWarning {
  display: none;
}

.collection {
  background-color: white;
}
.collection .collection-item.avatar .title {
  font-size: 14px;
}

.flightNumber {
  font-size: 20px;
  padding-top: 3%;
}

.flightNumberHeader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.30rem;
  padding-top: 3%;
}

@media (max-width:640px) {
  .flightNumber {
    padding-top: 0.5%;
  }
  .flightNumberHeader {
    padding-top: 1%;
    font-size: 0.91rem;
  }
}

@media (min-width:641px) {
  .flightNumber {
    padding-top: 6%;
  }
  .flightNumberHeader {
    padding-top: 7%;
  }
}

@media (min-width:1300px) {
  .flightNumber {
    padding-top: 3%;
  }
  .flightNumberHeader {
    padding-top: 3%;
  }
}

.customLogo {
  margin-top: 0;
}

h3 {
  font-size: 1.52rem;
}

.row .col.s12 {
  padding-top: 10px;
}

@media(min-width: 760px) {
  .m4{
    text-align: center;
    padding-top: 10px !important;
  }
 
}

.collection .collection-item:last-child {
  border-bottom: 1px solid #e0e0e0 !important;
}



.collection .collection-item.avatar .secondary-content {
  top:30px;
  font-size: 1.30rem;
}

.indigo.lighten-2 {
  background-color: #6F97C8 !important;
}

.plane {
  width: 40%;
  display: inherit;
  animation: fly;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes fly{
  from{ transform: translateX(0%)}
  to{transform: translateX(120%)}
}

.welcomeText {
  text-align: center;
}

.loading {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.myFooter {
  padding-left: 50px;
}

.page-footer .footer-copyright {
  background-color: #6F97C8 !important;
  padding-left: 1%;
}

.singleFlight {
  font-weight: bold;
}
